This is index page.
<p th:text="${msg}"></p><!--不会对html进行解析-->
<p th:utext="${msg}"></p><!--对html进行解析-->
text里面的加：
<p th:text="${a}+${b}"></p><br>
utext里面的加：
<p th:utext="${a}+${b}"></p><br>
text里面的||：
<p th:text="|${a} ${b}|"></p><br>
utext里面的||：
<p th:utext="|${a} ${b}|"></p><br>
text里面的>：
<p th:text="${a}>${b}"></p><br>
utext里面的>：
<p th:utext="${a}>${b}"></p><br>
<!--<a th:href="@{/api/student(studentId=${student.studentID})}">查看信息</a>-->
<!--相当于<a href="/api/student?studentId=${student.studentID}"></a>-->

<div th:if="${flag}">用if,true则显示</div>

<div th:unless="${flag2}">用unless,false则显示</div>
<div th:switch="${student.studentName}">
    <div th:case="'wangwu'">我是wangwu</div>
    <div th:case="'wangwdu'">我是wangwdu</div>
</div>
<a th:href="@{${baiduURL}}">百度链接</a>
<img th:src="@{${imgPath}}" />
<img th:attr="src=@{${imgPath}}" />
<input th:attr="type='text'" th:value="${valueP}">
<table >
    <tr th:each="city:${cities}">
        <td th:text="${city.cityId}"></td>
        <td th:text="${city.cityName}"></td>
        <td th:text="${city.localCityName}"></td>
    </tr>
</table>

<select >
    <option  th:each=" cityv,cityStatus:${cities}" th:value="${cityv.cityId}" th:text="${cityv.cityName}"></option>
</select>
<form th:action="${Cityurl}" method="post" th:object="${city}" >
    <input type="hidden" name="_method" value="PUT">
    用户id<input   th:field="*{cityId}" readonly>
    用户Name<input  th:field="*{cityName}">
    City Name <input  th:field="*{localCityName}" readonly>
    <button type="submit">提交</button>
</form>