dkjasssssssssssssssssssssssssss{{ name }}<br>
<h3>字符串</h3>
Name list:{{ name_list }} -----{{ name_list.0 }}
person:{{ person }}--{{ person.name }}

<!--  变量名 | 过滤器:可选参数 -->

    Name list:<br/>

        转小写：{{ name_list | lower }}<br/>

        列表第一个元素转大写：{{ name_list | first | upper }}<br/>

        字符串截取：{{ name_list | first | truncatewords:"2" }}<br/>

        字符串省略号代替：{{ name | truncatechars:2 }}<br>

        字符串长度：{{ person.name | length }}<br/>

        默认值：{{ person.teacher | default:"Hyman" }}<br/>
        时间格式化：{{ birthday }} ---- {{ birthday | date:"F j, Y" }} ----

            {{ birthday | date:"Y-m-d H:i:s" }}<br/>

         文件大小格式化：{{ number | filesizeformat }}<br/>
        标签字符串：<a href="{{ url }}">点击跳转</a>
         <h3>If标签</h3>

        {% if isman %}

            man

        {% endif %}

        {% if age <= 10 %}

            儿童

        {% elif 10 < age and age <= 30 %}

            青年

        {% else %}

            其他

        {% endif %}
        {% ifequal person person1 %}

            WellCome {{ person.name }}

        {% endifequal %}







